<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title><%= title %>></title>
    </head>

    <body>
      <a href="/">Home</a>
      <h1><%= title %></h1>
      <form action="/create" method="POST">
        <label for="first_name">Full Name: </label>
        <input placeholder="Easy" type="text" name="first_name" id="first_name">
        <label for="last_name">Last Name: </label>
        <input placeholder="Pete" type="text" name="last_name" id="last_name">
        <button type="submit">Submit</button>
      </form>
        
    </body>


    </html>
