<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title><%= title %>></title>
    </head>

    <body>
      <a href="/">Home</a>
      <h1><%= title %></h1>

        <%- include('navbar', {links: links}) %>
      <form action="/create" method="POST">
        <label for="first_name">Full Name: </label>
        <input placeholder="Easy" type="text" name="first_name" id="first_name">
        <label for="last_name">Last Name: </label>
        <input placeholder="Pete" type="text" name="last_name" id="last_name">
        <label for="hometown">Hometown: </label>
        <input placeholder="Megaton" type="text" name="hometown" id="hometown">
        <label for="faction">Faction: </label>
        <input placeholder="Brotherhood of Steel" type="text" name="faction" id="faction">
        <label for="first_appearence">First Appearence: </label>
        <input placeholder="Fallout: New Vegas" type="text" name="first_appearence" id="first_appearence">
        <button type="submit">Submit</button>
      </form>
        
    </body>


    </html>
